/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";



input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.img-thumb {
  height: 200px;
  width: 200px;
  margin-right: 20px;
  border: 1px dotted #ddd;
  border-radius: 3px;
}

.pulse-once {
  animation: 0.5s pulse linear 1;
  -webkit-animation: 0.5s pulse linear 1;
}

@-webkit-keyframes pulse {
  from { background-color: #ffffff; -webkit-box-shadow: 0 0 9px #fff; }
  50% { background-color: #5bc0de; -webkit-box-shadow: 0 0 18px #5bc0de; }
  to { background-color: #ffffff; -webkit-box-shadow: 0 0 9px #fff; }
}